:root {
  --md-primary-fg-color: #292929;
  --md-primary-fg-color--light: #4a4a4a;
  --md-primary-fg-color--dark: #1a1a1a;
  --md-accent-fg-color: #ee0000;
  --md-accent-fg-color--transparent: #ee00001a;
  --md-typeset-a-color: #ee0000;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #292929;
  --md-primary-fg-color--light: #4a4a4a;
  --md-primary-fg-color--dark: #1a1a1a;
  --md-accent-fg-color: #ee0000;
  --md-accent-fg-color--transparent: #ee00001a;
  --md-typeset-a-color: #ee0000;
}

.md-header {
  border-bottom: 3px solid #ee0000;
}
